* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Arvo";
  src: url(./font/Arvo/Arvo-Bold.ttf) format("truetype");
}

body {
  background-image: url(./images/background/pexels-hngstrm-1939485.jpg);
  background-size: cover;
  overflow-x: hidden;
  font-family: "Arvo";
}

/* ---- ANIMATION CODE ---- */

.first-main {
  text-align: center;
  background-color: #e63946;
  font-family: "Arvo";
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.main-logo {
  width: 150px;
  border-radius: 50%;
  border: none;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #a8dadc;
}

.first-name {
  color: whitesmoke;
}
.second-name {
  color: black;
}
.third-name {
  color: orange;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
}

@media screen and (max-width: 600px) {
  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
    font-size: 2rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
  }
}

/* -------------------------------------- */

.main-content {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.contact-header {
  font-size: 2.5rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects {
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 2rem 0;
  text-align: center; /* Centering the heading */
}

.main-heading {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; /* Increased gap */
  align-items: center;
}

.business-card-flyer,
.business-cards,
.logos,
.social-media-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* Increased gap */
}

.projects-header {
  text-align: center;
  font-size: 1.75rem;
  background-color: white;
  color: black;
  padding: 0.5rem;
  font-family: "bodoni-moda";
  width: auto; /* Ensuring it does not take the entire screen width */
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem; /* Increased gap */
}

img {
  width: 250px;
  height: auto;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .contact-header {
    font-size: 2rem;
  }

  li {
    font-size: 1rem;
  }

  .projects-header {
    font-size: 1.5rem;
  }

  .projects-content {
    grid-template-columns: 1fr;
  }

  .images {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
  }
}
